* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE and Edge
  
  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f1f1f150;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f130;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #f1f1f190;
  }
}

@media screen and (max-width: 768px) {
  * {
    &::-webkit-scrollbar {
      width: 0;
    }
    
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE and Edge
  }
}
